# this file configures the keys
# change at your own risk
# basic format:
# key event

arrow_up 		move_foward
arrow_up-up		move_foward_stop

arrow_down  	move_backward
arrow_down-up  	move_backward_stop

mouse2 			grab
mouse2-up		grab_stop
g 				grab
g-up			grab_stop	


wheel_up 		zoom_in		
wheel_down 		zoom_out
[		 		zoom_in		
]		 		zoom_out

n				align_pane
n-up			align_pane_stop
m				blanace_pane
f				follow_ship		
f-up			follow_ship_stop

mouse3			plot_point
mouse3-up		plot_point_finish		
shift-mouse3	plot_point_add

mouse1			selection_drag
mouse1-up		selection_drag_stop

enter			chat_start
v				view_glow_screens
q				start_draw_seg
q-up			end_draw_seg
       
j				reload
          
a				select_all_my_units
space				toggle_grid
f1				help
f2				toggle_galaxy
f3				toggle_fleet_icons
f4				toggle_thought
f5				zone_reload
f6				toggle_unit_text
f7  			toggle_gui
f8				toggle_sound
f9 				toggle_glow
f10				toggle_galaxy
f11				snap   
control-r	    toggle_ranges

d				dock_order
control-d		select_docked
alt-d			dock_ready_for_jump